h1 {
    text-align: center;
}
body {
    background-color: burlywood;
}
nav {
    text-align: center;
    color: aqua;
color: black;
}
ul {
color: black;
}
li {
color: black;
}
a {
    color: black;
}
